.intro {
  position: relative;
  z-index: -1;
  overflow-x: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
}

.intro img {
  inset: 0;
  width: 100%;
  object-fit: cover;
  height: 100vh;
}

.intro .intro-text h1 {
  text-align: center;
  font-weight: 900;
  font-size: 3em;
  margin-bottom: 30px;
  font-family: "Kalam", serif;
  position: relative;
  display: inline;
}

.intro .intro-text {
  color: #000000;
  line-height: 2em;
  font-size: 1em;
  font-weight: 500;
  background: #ffc700;
  padding: 70px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
