.hero {
  height: calc(100vh - var(--navbarHeight));
  position: relative;
  z-index: -1;
  overflow-x: hidden;
  padding: 50px;
  background: var(--mainBgColor);
}

.hero .overlay {
  position: absolute;
  inset: 0;
  opacity: 100%;
  z-index: 1;
}

.hero img {
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.hero .hero-content .hero-text * {
  color: #000000;
  line-height: 2em;
  font-size: 1.1em;
}

@media screen and (max-width: 800px) {
  .hero .hero-content {
    width: 70%;
  }
}

@media screen and (max-width: 650px) {
  .hero .hero-content h1 {
    font-size: 2rem;
    height: 80%;
  }
}
